.grid {
    display: grid;
    grid-template-areas:
                         "one two three"
                         "six five four";
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(3, minmax(300px,1fr));
    justify-content: center;
    align-content: center;
}

.one, .two, .three, .four, .five, .six{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 300px;
    font-family:Arial, sans-serif;;
    font-size: 100px;
    color: white;
}

.one{
    background: red;
    grid-area: one;
}

.two{
    background: #ce0000;
    grid-area:two;
}

.three{
    background: #9a0000;
    grid-area:three;
}

.four{
    background: #620000;
    grid-area:four;
}

.five{
    background: #500101;
    grid-area:five;
}

.six{
    background: black;
    grid-area:six;
}

@media only screen and (min-width: 1050px ) and (max-width: 1800px) {
    .grid{
        display: grid;
        grid-template-areas: "one two three"
                            "six five four";
        justify-content: center;
        align-content: center;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1049px){
    .grid{
       grid-template-areas: "one two"
                            "four three"
                            "five six";

        grid-template-rows: repeat(3, 300px);
        grid-template-columns: repeat(2, minmax(300px,1fr));
    }
}

@media only screen and (min-width: 450px) and (max-width: 749px) {
    .grid{
        grid-template-areas: "one"
                            "two"
                            "three"
                            "four"
                            "five"
                            "six";

        grid-template-rows: repeat(6, 300px);
        grid-template-columns: repeat(1, minmax(300px,1fr));
    }
}

